body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mainContainer .container {
    height: 100%;
}

.ant-layout-sider {
    height: 100vh;
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon + a, 
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon + a,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .anticon + a, 
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon + a {
    max-width: 0px;
    opacity: 0;
}